@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Poppins;
  src: url(./Font/POPPINS-BLACK.TTF);
}

.Poppins{
  font-family: Poppins;
}

@font-face {
  font-family: Poppins-light;
  src: url(./Font/POPPINS-EXTRALIGHT.TTF);
}

.Poppins-light{
  font-family: Poppins-light;
}

@font-face {
  font-family: Poppins-medium;
  src: url(./Font/POPPINS-MEDIUM.TTF);
}

.Poppins-light{
  font-family: Poppins-light;
}

@font-face {
  font-family: Genshin-Impact;
  src: url(./Font/Genshin-Impact.ttf);
}

.Genshin-Impact{
  font-family: Genshin-Impact;
}

/* Your stylesheet */
.logo {
  /* Define initial size */
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease-in-out; /* Add smooth transition */
}

.logo:hover {
  /* Define the size when hovered */
  transform: scale(1.2); /* Enlarge by 20% */
}
